.Modal {

    position: fixed;
    left: 0;
    top: 10%;
    right: 0;
    bottom: 10%;
    background-color: rgba(153, 140, 163, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    &__content {

        width: 80%;
        height: 80%;
        background-color: rgba(164, 92, 64,0.9);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transform: translateY(-6%);

    }

}