@use "./Styles/Color.scss" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {

  width: 100vw;
  height: 100vh;
  background-color: $dark-blue;
  display:grid;
  grid-template-rows: 10% 70% 20% ;

  .main {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

}