@use "../src/Assets/Fonts/Fonts.scss" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.brand {
  font-family: $brand;
}

.titles {
  font-family: $titles;
}

.text {
  font-family: $text;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 75% 15%;
  background-color: #A45C40;
  color: #E4DDCA;

  .main {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    &__background {
      width: 98%;
      height: auto;
      justify-self: center;
    }
    
  }

  .footer {
      color:red;
      background-color: #c38370;
  }

}